DATABASE_URL=postgresql:postgresql://neondb_owner:npg_hSJB0LWu1iaP@ep-dry-bush-ad6rs6xq-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
NODE_ENV=development 